
.root {
    width:30px;
    margin-top: 32px;
    margin-left: 64px;
    height:60px;
    position: absolute;
    top:0px;
    right: 0px;
    transition:0.2s;
}

.root-open{
    margin-left: 100px;
    width: 220px;
}
.padh{
    position:absolute;
    margin-left:30px;
    height: 70px;
    width: 0px;
    background-color:#fadddd;
    transition:0.2s;
}
.padh-open{
    width: 190px;
}

.pad{
    margin-top:-10px;
    height: 70px;
    display: none;
    opacity: 0;
    transition:0.5s 0.2s;
}
.pad-open{
    display: inline-block;
    opacity: 1;
}

.chooser {
    position:absolute;
    float:right;
    width:30px;
    height:60px;
    transition:0.2s
}

.icon {
    width:30px;
    padding: 4px;
    background-color:#fadddd;
}
.img{
    width: 22px;
}
.chooser-open{
    margin-right: 100px;
}

.pick{
    margin:4px 8px;
    width:60px;
    display: inline-block;
}